<!DOCTYPE html>
<html>
<head>
  <title>Capsop</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>

    <%= render 'layouts/header' %>




    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><span class="nav-sidebar-title">Pacientes-Dia</span></li>
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Oficinas</a></li>
            <li><a href="#">Outra coisa</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li ><span class="nav-sidebar-title">Pacientes</span></li>
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Outra coisa</a></li>
            <li><a href="#">Outra coisa</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        <div class="container">


          <%= yield %>
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
          
        </div>

        </div>
      </div>
    </div>
</body>
</html>
